{% extends "base.html.twig" %}
{% block title %}
    {{ titre }}
{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>salaire</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.id }}</td>
                    <td> {{ employe.nom }}</td>
                    <td> {{ employe.salaire }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}