{% extends "base.html.twig" %}
{% block title %}
    {{ titre }}
{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>nom</th>
                <th>ville</th>
                <th>nb Employe</th>
            </tr>
        </thead>
        <tbody>
            {% for lieu in lieux %}
                    <tr>
                        <td>{{ lieu.nom }}</td>
                        <td> {{ lieu.ville }}</td>
                        <td> {{ lieu.getEmployes()|length }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}